.console-card {
	border: 1px solid gray;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	margin: 10px 20px 10px 20px;
}

.console-card > img {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 140px;
	width: 320px;
}

.console-card-container {
	padding: 2px 16px;
}

.console-card-container:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.console-card-group {
	display: flex;
	flex-wrap: wrap;
}

.card-sect {
	background-color: #3EDBF9;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 80px;
	min-width: 190px;
}

@media screen and (max-width: 505px) {
    .card-sect, .console-card {
        width: 100%;
    }
}