.dark.theme-mtl-canadiens-hockey .vehicle-header {
    background-color: #852929;
}

.dark.theme-mtl-canadiens-hockey #vehicle-info-col {
    background-color: #585858;
}

.dark.theme-mtl-canadiens-hockey #trip-col {
    background-color: #323760;
}

.theme-mtl-canadiens-hockey .vehicle-header {
    background-color: #F59797;
}

.theme-mtl-canadiens-hockey #vehicle-info-col {
    background-color: #FFF;
}

.theme-mtl-canadiens-hockey #trip-col {
    background-color: #D7E0F2;
}